<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head lang="en">
    <meta charset="UTF-8"/>
    <title></title>
</head>
<body>
<!-- 加载Query文件-->
<script type="text/javascript" src="/js/jquery-2.1.4.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //模拟30000个异步请求，进行并发
        var max = 30000;
        for (var i = 1; i <= max; i++) {
            //jQuery的post请求，请注意这是异步请求
            $.ajax({
                //请求抢id为1的红包
                //根据自己请求修改对应的url和大红包编号
                url: "/userRedPacket/grabRedPacket?redPacketId=1&userId=" + i,
                //成功后的方法
                success: function (result) {
                }
            });
        }
    });
</script>
</body>
</html>